/*Class body below*/
#body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* Class topcontaine below */
#top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 50px;
}

/*class middlecontainer below*/
.middle-container{ 
    
}

/*Class bottomcontainer below*/
.bottom-container{
    margin: 90px auto 0 auto;
    padding: 50px 0 10px 0;
    background-color: #95e1e1;
}

/* Class h1one below*/
h1{
    font-size: 5.625rem;
    width: 50%;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;

}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
    text-align: left;
}

/* Top cloud bottom cloud*/
.top-cloud{
    position: absolute;
    top:2%;
    right:21%;
    padding-top: 20px;
}

.bottom-cloud{
    position: absolute;
    top: 50%;
    left: 20%;
    bottom: 0;
}

/*pragraph and span-pro editing */

.span-pro{
    text-decoration: underline;
    font-size: 2.4rem;
    margin-top: 0;
    font-weight: normal;
}

.programmer{
    font-size: 2.4rem;
    margin-top: 0;
    font-weight: normal;
}

/*google cloud*/


/* hide */
.hide{
    display: none;
}

/*anchor tags */

a{
    color:#11999E;
    text-decoration: none;
}

/*skill-row*/
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
}

/*g*/
.g{
    text-align: center;
    width: 30%;
    margin: 50px auto 90px auto;
}

/*<p> tag*/
p{
    text-align: left;
}

/*learningmore*/
.l{
    display: inline-block;
    text-align: center;
    margin-bottom: 70px;
}

/*footerh3 what they say*/

.footerh3{
    text-align: center;
    margin-top: 50px;
}


.footerbelowh3{
    text-align: center;
    width:50%;
    margin: 70px auto 70px auto;
    line-height: 2;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    color: #EAF6F6;
}


.aman-img{
    margin: 70px auto 30px auto;
    width: 15%;
}


/*images here*/

.webd-img{
    width:25%;
    position: relative;
    right:25px;
    float: left;
}

.google-img{
    width:30%;
    position: relative;
    left: 35px;
    float: right;
}

.wordpress-img{
    width:25%;
    position: relative;
    right: 35px;
    float: left;
    margin: 0 0 0 0;
}

.problemsol-img{
    width:25%;
    position: relative;
    left: 35px;
    float: right;
}

.dbms-img{
    width: 25%;
    position: relative;
    right: 35px;
    float: left;
}

.problemsol-div{
    width: 50%;
    margin: 150px auto 150px auto;
    line-height: 2;
}

/* editing hr without class */

hr{
    border-color: #EAF6F6;
    width:70px;
    margin-bottom: 90px;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
}

.BUTTON_ZLH{
    margin: 0 auto 90px auto;
}

.linkedin{
    margin: 10px 50px 20px auto;
    color: #11999E;

}

.twitter{
    margin: 10px 50px 20px auto;
    color: #11999E;
}
.github{
    color: #11999E;
}

.top-comobile{
    display: none;
}






@media only screen and (max-width: 700px) {

    #body{
        margin:0;
        text-align: center;
        font-family: 'Merriweather', serif;
    }
    
    #top-container{
        display: none;
    }

    .ph-top-img{
        display: none;
    
    }

    .top-heading{
        display: none;
   
    }

    .top-comobile{
        display: block;
        width:100%;
        height: 60px;
        margin-bottom: 20px;
        background-color: #EAF6F6;
        z-index: 99999999;

    }
    .pro-phone{
        text-decoration-line: underline;
    }
    .programmer-phone{
        color: #11999E;
        display: inline-block;
        position: absolute;
        top:-3px;
        right: 20px;

    }

    .g{
        width: 80%;
        top: 40px;
    }

    .profile{
        position: relative;
        top: 100px;
        height: min-content;
        
    }

    .skill-row{
        width: 80%;
    }

    .problemsol-div{
        width: 79%;
    }

    .footerbelowh3{
        width: 80%;
    }
    .aman-img-ph{
        width: 15%;
    }
    .aman-img{
        display: none;
    }

    .google-img{
        width:30%;
        position: relative;
        left: 2px;
        float: right;
    }
    .wordpress-img{
        width:25%;
        position: relative;
        right: 15px;
        float: left;
        margin: 0 0 0 0;
    }

    .problemsol-img{
        width:25%;
        position: relative;
        left: 15px;
        float: right;
    }

    .dbms-img{
        width: 25%;
        position: relative;
        right: 15px;
        float: left;
    }

    .h1-ph{
        display: block;
        width: 100%;
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 60px;
        
    }
    .h2-ph{
        display: inline-block;
        position: absolute;
        display: none;
        
    }

    .heading-ph{
        width: 70% ;
        margin: 0 auto 0 auto;
    }

    .mobile-hr{
        position: relative;
        top: 50px;
    }
    

  }